body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
  }
  
  section {
    margin-bottom: 30px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
  }
  
  .produto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  button {
    padding: 6px 12px;
    background-color: #0b5ed7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #084298;
  }
  